.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 8rem;
    height: 10vh;
}

.navlinks {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}