@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@800&family=Mulish:wght@200;400&family=Work+Sans:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Mulish', sans-serif;
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --cerulean: #579cca;
  --border: #3b3b3b;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: #ffffff;
  text-decoration: none;
}

li {
  list-style: none;
}

h1 { font-size: 6rem; }
h2 { font-size: 5rem; }
h3 { font-size: 4rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1.2rem; }

h1,
h2,
h3 {
  font-family: 'Merriweather Sans', sans-serif;
}

h4,
h5,
h6 {
  font-family: 'Work Sans', sans-serif;
}